<html>
<head>
    <title>TEXTLY - The Vignesh Product</title>
</head>

<body style="background-color:GreenYellow;">
    <h1 style="text-align:center"; font size="+2"><b><strong>TEXTLY - EVERYTHING WITH TEXT</strong></b></h1>
    <h2 style="text-align:center" ><b><sub>Author : VIGNESH</sub></b></h2>
    <form action="Detect_Language_Results" method="post">
        <textarea style="resize:none" id="Write Something" name="Write Something" placeholder="Write Something" rows="4" cols="50"></textarea>
        
  
</select>

        <button type = 'submit'>Detect</button>
    </form>
    
    {{prediction_text}}


</body>
<scrpit src= 'static/abc.js'></scrpit>


</html>