<html>
<head>
    <title>TEXTLY- VIGNESH APP</title>
</head>

<body style="background-color:GreenYellow;">
    <h1 style="text-align:center"; font size="+2"><b><strong>TEXTLY - EVERYTHING WITH TEXT</strong></b></h1>
    <h2 style="text-align:center" ><b><sub>Author : VIGNESH</sub></b></h2>
    <br></br>

    <form action="Count_Words" method="post">
        <p style="text-align: center;"><button>Count Words</button></p>
    </form>

    <form action="Count_Sentences" method="post">
        <p style="text-align: center;"><button>Count Sentences</button></p>
    </form>

    <form action="Dictionary" method="post">
        <p style="text-align: center;"><button>Dictionary</button></p>
    </form>

    <form action="Translate" method="post">
        <p style="text-align: center;"><button>Translate</button></p>
    </form>

    <form action="Detect_Language" method="post">
        <p style="text-align: center;"><button>Detect Language</button></p>
    </form>
    
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
    <b><i><marquee behavior="scroll" direction="left" position:absolute>Textly - EVERYTHING WITH TEXT | COUNT WORDS | DICTIONARY | TRANSLATION | DETECT LANGUAGE -- EXPECT ENHANCMENT IN UPCOMING VERSIONS </marquee></i></b>


</body>
</html>